.column {
  float: left;
}

.left, .right {
  width: 12.5%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  
  /*font: 1.2em sans-serif;*/
  display: grid;
  place-items: center;
}
